{% extends "base.html" %}
<!-- Adding a Trip Section -->
{% block info %}
<div class="page-header">
  <h1> Supervisor: Dashboard</h1>
        <h4> Current Pay Period: <small>
        {% if current.due %}
            {{ current.due }}
        {% else %}
        No Pay Periods!
        {% endif %}
        </small></h4>

        <h4> Your Group: <small> 
        {% if user.groups.all.0 %}
            {{user.groups.all.0}}
        {% else %}
        No Group!
        {% endif %}
        </small></h4>
</div>
{% endblock %}
{% block content %}

    <div class="col-md-12">
    <legend>Staff Reimbursements</legend>
    <table class="table table-hover display" id="tripTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Staff</td>
                <td>Date Range</td>
                <td>Number of Reimbursements</td>
                <td>Requested Reimbursement</td>
                <td>Total Distance</td>
            </tr>
        </thead>
        <tbody>
        
        {% for user in user_list %}
            <tr>
                <td><a href="{{user.staff.get_absolute_url}}">{{ user.username }}</a></td>
                <td>{{ user.oldest_trip.date }} - {{ user.newest_trip.date }}</td>
                <td>{{ user.num_trips }}</td>
                <td>${{ user.reimbursement }}</td>
                <td>{{ user.total_mileage }}kms</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}