{% extends "base.html" %}
{% block info %}
<!-- Adding a Trip Section -->
<div class="container">
    <div class="col-md-12">
        <h4> Current Pay Period: {{ current }}</h4>
        <h4> Department: {{ user.groups.all.0 }}</h4>
    </div>
</div>

{% endblock %}
{% block content %}
    <div class="col-md-12">
    <table class="table display" id="tripTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Staff</td>
                <td>Requested Reimbursement</td>
                <td>Total Mileage</td>
            </tr>
        </thead>
        <tbody>
        
        {% for staff in staff_list %}
            <tr>
                <td><a href="{{staff.staffprofile.get_absolute_url}}">{{ staff.first_name}} {{staff.last_name}}</a></td>
                <td>${{ staff.reimbursement }}</td>
                <td>{{ staff.total_mileage }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}