{% extends "base.html" %}
{% load i18n %}

{% block info %}
<div class="jumbotron">
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center collapse-pic">
        <h1 style="font-size:210px;margin-top:0px;"><i class="fa fa-truck"></i></h1>
        <i>"Choo Choo"</i>
        </div>
        <div class="col-md-8 text-center">
            <h1>BACI Mileage Reimbursement </h1>
            <h4> <small>Reimbursements Reviewed On: </small>{{ current.due }}</h4>
            <a href="{{ user.staff.get_absolute_url }}">
            <button type="button" class="btn btn-default btn-lg">
                <i class="fa fa-car"></i> My Reimbursements
            </button>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="jumbotron" style="background-color:#eee">
<div class="container">
    <form action="" method="post">
    {{ wizard.management_form }}

    {% load crispy_forms_tags %}

    {% crispy wizard.form %}
    </form>

</div>
</div>
{% endblock %}