{% extends "base.html" %}

<link rel="stylesheet" href="css/style.css"/>

{% block reimbursements %}
  {% for reimbursement in object_list %}
    <li><a href="{{reimbursement.get_absolute_url}}">{{ reimbursement.payperiod }}</a></li>
    {% endfor %}
{% endblock %}


{% block content %}
<div class="container" style="width: 100%;">
    <!--First block on the page to show general information -->
    <div class="page-header" style="padding-top:0px">
    <h1 >Instructions</h1>
    </div>
    <div class="col-lg-4">
      <h1 style="font-size:60px">1. <i class="fa fa-car"></i></h1>
      <p>Start a new reimbursement by clicking the following button or the one in the menu.</p>
      <a href="{% url 'mileage:create_reimbursement' %}"><div class="btn btn-default">New Reimbursement</div></a>
      <br></br>
      <p>You can also continue existing reimbursements by selecting them from the menu.</p>
    </div>
    <div class="col-lg-4">
      <h1 style="font-size:60px">2. <i class="fa fa-check-square-o"></i></h1>
      <p>Add new trips to the reimbursement by selecting 'New Trip'.</p>
    </div>
    <div class="col-lg-4">
      <h1 style="font-size:60px">3. <i class="fa fa-print"></i></h1>
      <p>Hit the 'Print' button to print off the form and give to your supervisor with your timesheet.</p>
    </div>
</div>
{% endblock %}