{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block reimbursements %}
  {% for reimbursement in reimbursements %}
    <li><a href="{{reimbursement.get_absolute_url}}">{{ reimbursement.payperiod }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container" style="width: 100%;">
    <!--First block on the page to show general information -->
    <div class="page-header">
      <h1>New Reimbursement</h1>
    </div>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Create" />
    </form>
</div>

{% endblock %}
