{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1> {{object.user.username}}: Reimbursements</h1>
            <h4> Current Pay Period: <small>{{ current.due }}</small></h4>
            <h4> Department: <small>{{ user.groups.all.0 }}</small></h4>
    </div>

    <form action="." method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        <div class="emptystaff">
            {{ form }}
        </div>


    <div class="tripset col-md-12">

        <div style="padding-bottom:5px">
            {% for group in user.groups.all %}
                {% if group.name == 'supervisor' %}
                    <a href="{{ user.staff.get_approve_url }}">
                        <div class="btn btn-default">MARK ALL AS APPROVED</div>
                    </a>
                {% endif %}
            {% endfor %}

            {% for group in user.groups.all %}
                {% if group.name == 'admin' %}
                    <a href="{{ user.staff.get_pay_url }}">
                        <div class="btn btn-default">MARK ALL AS PAID</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        
    <legend><h4>Applied Reimbursements<small> 
    {% if applied_distance.distance__sum %}
    Total Distance Travelled: {{applied_distance.distance__sum}}kms
    Total Amount Applied: ${{applied_sum.amount_owed__sum}}</small></h4></legend>
    {% regroup formset|dictsort:"instance.created" by instance.created.date as form_list %}
    {% for form in form_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ form.grouper }}</h2>
            </div>
            <ul class="list group" style="padding:0px;margin:0px ">

                {% for form in form.list %}
                <li class="clearfix list-group-item" style="word-wrap: break-word;">
                    <div class="col-md-9">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="hidden">{{ form.trip_begin }}</div>
                        <div class="hidden">{{ form.trip_end }}</div>
                        <div class="hidden">{{ form.DELETE }}</div>
                        <div class="hidden">{{ form.created }}</div>
                        <div class="hidden">{{ form.description }}</div>
                        <div class="hidden">{{ form.distance }}</div>
                        <div class="hidden">{{ form.amount_owed }}</div>
                        <div class="row" style="word-wrap: break-word;">
                            <b>{{ form.instance.distance }}kms</b> and <b> ${{form.instance.amount_owed }}</b>
                        </div>
                        {{ form.instance.description }}
                    </div>

                        <div class="col-md-3">
                        {% for group in user.groups.all %}
                            {% if group.name == 'supervisor' %}
                                Approve: {{ form.approved }}
                            {% endif %}
                        {% endfor %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'admin' %}
                                Pay: {{ form.paid }}
                            {% endif %}
                        {% endfor %}
                    </div>

                </li>
                {% endfor %}
            </ul>

        </div>
    {% endfor %}
           {% for group in user.groups.all %}
                {% if group.name == 'supervisor' or 'admin' %}
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <h5>No Reimbursements <a href="{% url 'mileage:wizard' %}"><div class="btn btn-default">Add Reimbursement</div></a>
        </h5>
        {% endif %}

</form>
<!--Reimbursements in this pay period -->
   <legend><h4>Pending Reimbursements<small> 
    {% if pending_distance.distance__sum %}
    Total Distance Travelled: {{pending_distance.distance__sum}}kms
    Total Amount Applied: ${{pending_sum.amount_owed__sum}}</small></h4></legend>
    {% regroup pending_trips|dictsort:"created" by created.date as pending %}
    {% for trip in pending %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ trip.grouper }}</h2>
            </div>
            <ul class="list group" style="padding:0px;margin:0px ">

                {% for trip in trip.list %}
                <li class="clearfix list-group-item" style="word-wrap: break-word;">
                    <div class="col-md-9">
                    {{ trip.created }}
                    {{ trip.description }}
                    ${{ trip.amount_owed }}
                    {{ trip.dstance }}kms
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
        {% endfor %}
        {% else %}
        <div>No Approved Reimbursements</div>
        {% endif %}

<!--Reimbursements History -->
   <legend><h4>History of Reimbursements<small> 
    {% if paid_distance.distance__sum %}
    Total Distance Travelled: {{paid_distance.distance__sum}}kms
    Total Amount Applied: ${{paid_distance.amount_owed__sum}}</small></h4></legend>
    {% regroup paid_trips|dictsort:"created" by created.date as paid %}
    {% for trip in paid %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ trip.grouper }}</h2>
            </div>
            <ul class="list group" style="padding:0px;margin:0px ">

                {% for trip in trip.list %}
                <li class="clearfix list-group-item" style="word-wrap: break-word;">
                    <div class="col-md-9">
                    {{ trip.created }}
                    {{ trip.description }}
                    ${{ trip.amount_owed }}
                    {{ trip.dstance }}kms
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
        {% endfor %}
        {% else %}
        <div>No History</div>
        {% endif %}


    </div>
</div>
<script>
</script>
{% endblock %}