{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block info %}
<!-- Adding a Trip Section -->
<div class="container">
    <div class="col-md-12">
        <h2>{{ staff.user.username }} </h2>
        <h4>{{ staff.user.groups.all.0 }} </h4>
    </div>
</div>

{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h4>Current Reimbursement Request </h4>
        <form action="." method="post">
{% csrf_token %}

{{ formset.management_form }}

<table>
<tr>
<td> Beginning </td>
<td> End </td>
<td> Description </td>
</tr>
{% for form in formset %}
<tr>
<td>{{ form.instance.trip.trip_begin }}</td>
<td>{{ form.instance.trip.trip_end }}</td>
{% for field in form.visible_fields %}
<td>
{{ field }}
</td>
{% endfor %}
<div style="display: none;">
{% for field in form.hidden_fields %}{{ field }}{% endfor %}
</div>
<td>{{ form.quantity }}</td>
<td>{{ form.instance.trip.id }}</td>
</tr>
{% endfor %}
</table>


<input type="submit" />
</form>
    </div>
{% endblock %}