{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block info %}
<!-- Adding a Trip Section -->
<div class="container">
    <div class="col-md-12">
        <h4> Current Pay Period: {{ current }}</h4>
        <a href='/wizard/'><h2> Add a Trip</h2></a>
    </div>
</div>

{% endblock %}
{% block content %}
<!-- Trip Listing Section -->
<div class="col-md-12">
    <h2>List of Trips</h2>
    <!-- Pagniation Stuff -->
    <!-- End Pagination Stuff 	-->
    <table class="table display" id="tripTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Staff</td>
                <td>Date</td>
                <td>Odometer Start</td>
                <td>Odometer End</td>
                <td>Distance Travelled</td>
                <td>Description of Trip</td>
                <td>Amount Owed</td>
                <td>Approved</td>

                <td>Paid</td>
            </tr>
        </thead>
        <tbody>
        
        {% for trip in object_list %}
            <tr>
                <td>{{ trip.staff.user.username }}</td>
                <td>{{ trip.created|date:"d/m/y f A" }}</td>
                <td>{{ trip.trip_begin }}</td>
                <td>{{ trip.trip_end }}</td>
                <td>{{ trip.distance }} kms</td>
                <td>{{ trip.description }}</td>
                <td>${{ trip.amount_owed}}</td>
                <td>{{ trip.approved}}</td>
                <td>{{ trip.paid }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <script>
$(document).ready(function() {
    $('#tripTable').DataTable();
});
</script>
{% endblock %}
