{% extends "base.html" %}
{% load i18n %}

{% block info %}
<div class="page-header">
  <h1> Add a Reimbursement</h1>
          <h4> Current Pay Period: <small>{{ current.due }}</small></h4>
</div>
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="col-md-12">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <br>

    <form action="" method="post">
    {{ wizard.management_form }}

    {% load crispy_forms_tags %}

    {% crispy wizard.form %}
    </form>

</div>
{% endblock %}