{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <table class="table display" id="tripTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>User</td>
                <td>Total Amount</td>
                <td>Approve</td>
            </tr>
        </thead>
        <tbody>
        
        {% for user in user_list %}
            <tr>
                <td>{{ user }}</td>
            </tr>
        {% endfor %}
        {% for reimbursement in reimbursements %}
            <tr>
                <td>{{ reimbursement.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}