body {
    background-color:#f9f9f9;
    color: #141823;
    padding-top:50px;
}

.collapse-pic {
    display:none;
    }

@media (min-width: 768px){
    .collapse-pic{
        display:block;
    }
}

.content {
    position:relative;
}
.custom-nav {
    background-color: #FFF;
    color: #000;
    min-height:40px;
}
.info-bar {
}

.full-width{
    position: absolute;
    width: 100%;
    left: 0;
}

.errorlist {
    list-style: none;
    color: #B94A48;
    margin: 0px 0px 9px 0px;
    padding: 0px;
}
.trip {
    height:;

}
.hidden {
    display: none !important;
    visibility: hidden !important;
}

.tripset {
    margin-bottom:10px;
    padding:0px;
}

.jumbotron {
    max-width:100%;
    margin:0px;
    background-color:#f9f9f9;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.mileage-input {
    font-size:16px;
    height:50px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color:#000;
    background-color:#FFF;
}

.navbar-default .navbar-nav>li>a {
    color:#000;
}
.navbar-default .navbar-toggle{
    border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #000;
}


.mileage-footer {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}