body {
    background-color:#f9f9f9;
    color: #141823;
    padding-top:50px;
}
.content {
    position:relative;
}
.custom-nav {
    background-color: #03a9f4;
    color: #FFF;
    min-height:40px;
}
.info-bar {
}

.errorlist {
    list-style: none;
    color: #B94A48;
    margin: 0px 0px 9px 0px;
    padding: 0px;
}
.trip {
    height:;

}
.hidden {
    display: none !important;
    visibility: hidden !important;
}

.tripset {
    margin-bottom:10px;
    padding:0px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color:#FFF;
    background-color:#03a9f4;
}

.navbar-default .navbar-nav>li>a {
    color:#FFF;
}
.navbar-default .navbar-toggle{
    border-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFF;
}